a {
  text-decoration: none;
  color: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

.header {
  background-color: #ffb8ca;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 6px;
    padding-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 37px;
  }
}
.header__container {
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__container {
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__link {
  background-color: #ffb8ca;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    align-items: center;
    margin-left: 110px;
    z-index: 1;
  }
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__item-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.313;
  display: flex;
  align-items: center;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__btns-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__btns-tablet {
    display: flex;
    align-items: center;
  }
}
.header__btn-buy {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  outline: none;
  padding: 0 37px;
  margin-left: 42px;
  height: 44px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__btn-buy {
    display: none;
  }
}
.header__btn-span {
  margin-left: 12px;
}
.header__nav {
  display: flex;
}

.mobile-btn {
  border: none;
  outline: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-btn {
    background-color: #ffb8ca;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-btn {
    width: 0;
    z-index: 10;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-btn {
    display: none;
  }
}
.mobile-btn-svg {
  width: 20px;
  height: 17px;
}

.mobile {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #e17992;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile {
    width: 250px;
    height: 502px;
    padding: 60px 20px 171px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile {
    width: 254px;
    height: 1020px;
    padding: 60px 24px 171px;
  }
}
.mobile.is-hidden {
  display: block;
}
@media screen and (min-width: 1200px) {
  .mobile.is-hidden {
    display: none;
  }
}
.mobile-btn-close {
  position: absolute;
  top: 23px;
  right: 28px;
  border: none;
  outline: none;
  background-color: #e17992;
}
.mobile-btn-buy {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.313;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  border: none;
  outline: none;
  height: 44px;
  margin-bottom: 19px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-btn-buy {
    width: 209px;
    padding: 0 48px 0 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-btn-buy {
    width: 186px;
    padding: 0 43px 0 43px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-btn-buy {
    width: 186px;
    padding: 0 43px 0 43px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-btn-span {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-btn-span {
    margin-left: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-btn-span {
    margin-left: 14px;
  }
}
.mobile-svg {
  width: 14px;
  height: 14px;
}
.mobile-item {
  display: flex;
  align-items: center;
  display: flex;
  padding: 12px 0;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}
.mobile-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.current {
  color: #d41443;
}

.hero {
  background-color: #ffb8ca;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    min-height: 419px;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 399px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 665px;
  }
}
.hero__container::after {
  content: "";
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__container::after {
    position: absolute;
    width: 168px;
    height: 133px;
    background-image: url(/tasty.e4eed68f.png);
    background-repeat: no-repeat;
    right: 34px;
    top: 266px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container::after {
    position: absolute;
    width: 293px;
    height: 232px;
    background-image: url(/tasty-desktop.290e0d25.png);
    background-repeat: no-repeat;
    right: 109px;
    top: 433px;
  }
}
.hero__container {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__circle {
    position: absolute;
    width: 346px;
    height: 419px;
    background-image: url(/i-cream.47e1e095.png);
    left: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__circle {
    position: absolute;
    width: 324px;
    height: 368px;
    background-image: url(/i-cream-tablet.1717d972.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle {
    position: absolute;
    width: 538px;
    height: 613px;
    background-image: url(/i-cream-desktop.7b8164f3.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__circle {
    position: absolute;
    top: 31px;
    right: 137px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle {
    position: absolute;
    top: 52px;
    right: 267px;
  }
}
.hero__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 30px;
    width: 218px;
    padding-top: 110px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    font-size: 22px;
    line-height: 25px;
    width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    line-height: 44px;
    width: 277px;
  }
}
.hero__title-span {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title-span {
    font-size: 44px;
    line-height: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title-span {
    font-size: 34px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title-span {
    font-size: 58px;
    line-height: 62px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__content {
    padding-top: 102px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 171px;
    display: flex;
    justify-content: space-between;
  }
}

.hero__btn {
  display: flex;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__btn {
    margin-top: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    margin-top: 25px;
  }
}
.hero__btn-products {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #d41443;
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero__btn-products {
    font-size: 8px;
    line-height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn-products {
    font-size: 14px;
    line-height: 18px;
    margin-right: 15px;
  }
}
.hero__btn-products:hover {
  background-color: #c7133e;
}
.hero__btn-hwmade {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 10px;
  background-color: #fff;
  color: #d41443;
  border-radius: 20px;
  border: none;
  outline: none;
}
.hero__btn-hwmade:hover {
  background-color: #ecebeb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .backgrounds {
    display: none;
  }
}
.backgrounds__number-16 {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backgrounds__number-16 {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .backgrounds__number-16 {
    font-size: 46px;
    line-height: 53px;
  }
}
.backgrounds__number-23 {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .backgrounds__number-23 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backgrounds__number-23 {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .backgrounds__number-23 {
    font-size: 46px;
    line-height: 53px;
  }
}
.backgrounds__item::before {
  content: " ";
  display: block;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backgrounds__item::before {
    transform: translate(210%, 80%);
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .backgrounds__item::before {
    transform: translate(160%, 85%);
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .backgrounds__item::before {
    display: none;
  }
}
.backgrounds__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .backgrounds__text {
    display: none;
  }
}

.hero__bottom {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__bottom {
    display: none;
  }
}
.hero__bottom-link {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__bottom-link {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__bottom-link {
    width: 26px;
    height: 26px;
  }
}
.hero__bottom::before {
  content: "";
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__bottom::before {
    width: 124px;
    height: 126px;
    background-image: url(/bio-eco.10d3ae91.png);
    background-repeat: no-repeat;
    margin-top: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__bottom::before {
    width: 188px;
    height: 191px;
    background-image: url(/bio-eco-desktop.f642c3d4.png);
    background-repeat: no-repeat;
    margin-top: 56px;
  }
}
.hero__bottom-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__bottom-text {
    font-size: 8px;
    line-height: 150%;
    width: 114px;
    padding-bottom: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__bottom-text {
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    padding-bottom: 20px;
  }
}
.hero__bottom-svg {
  fill: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__bottom-svg {
    width: 10px;
    height: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__bottom-svg {
    width: 16px;
    height: 14px;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__subtitle {
  color: #ffa5ba;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__subtitle {
    font-size: 26px;
    line-height: 1.154;
  }
}
@media screen and (min-width: 1200px) {
  .products__subtitle {
    font-size: 30px;
    line-height: 1.133;
  }
}

.products__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__title {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 259px;
  }
}

.products__list__item {
  width: 280px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__list__item {
    padding-bottom: 41px;
    padding-top: 161px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list__item {
    width: 220px;
    padding-bottom: 40px;
    padding-top: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list__item {
    width: 329px;
    padding-bottom: 50px;
    padding-top: 163px;
  }
}
.products__list__item::before {
  content: "";
  display: flex;
  background-image: url(/product1-mobile.61b0b500.png);
  width: 249px;
  height: 252px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 320px) {
  .products__list__item::before {
    top: -113px;
  }
}
@media screen and (min-width: 768px) {
  .products__list__item::before {
    width: 220px;
    height: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list__item::before {
    width: 335px;
    height: 335px;
    top: -210px;
  }
}
.products__list__item:nth-child(1) {
  background: #ffb8ca;
  border-radius: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list__item:nth-child(1) {
    margin-right: 20px;
  }
  .products__list__item:nth-child(1)::before {
    top: -104px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list__item:nth-child(1) {
    margin-right: 29px;
  }
}
.products__list__item:nth-child(2) {
  background: #f0d1a5;
  border-radius: 24px;
  position: relative;
}
.products__list__item:nth-child(2)::before {
  background-image: url(/product2-mobile.0e7a1280.png);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__list__item:nth-child(2) {
    margin-top: 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list__item:nth-child(2) {
    margin-right: 20px;
  }
  .products__list__item:nth-child(2)::before {
    top: -111px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list__item:nth-child(2) {
    margin-right: 30px;
  }
}
.products__list__item:nth-child(3) {
  background: #c2e297;
  border-radius: 24px;
  position: relative;
}
.products__list__item:nth-child(3)::before {
  background-image: url(/product3-mobile.b36c0620.png);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__list__item:nth-child(3) {
    margin-top: 129px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list__item:nth-child(3)::before {
    top: -102px;
  }
}

.products__title-second {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 66px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .products__title-second {
    margin-bottom: 70px;
  }
}
.products__title-second::after {
  content: "";
  display: flex;
  background-image: url(/points.c8b312fd.png);
  width: 26px;
  height: 6px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .products__title-second::after {
    bottom: -34px;
  }
}

.products__list {
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 41px;
  padding-right: 39px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__text {
    line-height: 1.785;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 62px;
  }
}

.products__image-arrow {
  display: flex;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/arrow-right.332148e7.png);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container .products__wraper {
    max-width: 1050px;
  }
}
@media screen and (min-width: 768px) {
  .products__text-hidden {
    display: none;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .products__list__item:nth-child(1)::before {
    background-image: url(/product1-mobile@2x.b30368d3.png);
  }
  .products__list__item:nth-child(2)::before {
    background-image: url(/product2-mobile@2x.0a60eaeb.png);
  }
  .products__list__item:nth-child(3)::before {
    background-image: url(/product3-mobile@2x.442d4040.png);
  }
}
@media screen and (min-width: 768px) {
  .products__list__item:nth-child(1)::before {
    background-image: url(/product1-tablet.56e31e60.png);
  }
  .products__list__item:nth-child(2)::before {
    background-image: url(/product2-tablet.ab1ed0d4.png);
  }
  .products__list__item:nth-child(3)::before {
    background-image: url(/product3-tablet.5d2adafd.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products__list__item:nth-child(1)::before {
    background-image: url(/product1-tablet@2x.6a4a1218.png);
  }
  .products__list__item:nth-child(2)::before {
    background-image: url(/product2-tablet@2x.992caaf7.png);
  }
  .products__list__item:nth-child(3)::before {
    background-image: url(/product3-tablet@2x.a50e45e4.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__list__item:nth-child(1)::before {
    background-image: url(/product1-desktop.85870091.png);
  }
  .products__list__item:nth-child(2)::before {
    background-image: url(/product2-desktop.e8ce6e9a.png);
  }
  .products__list__item:nth-child(3)::before {
    background-image: url(/product3-desktop.c80ae830.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__list__item:nth-child(1)::before {
    background-image: url(/product1-desktop@2x.bea6acf1.png);
  }
  .products__list__item:nth-child(2)::before {
    background-image: url(/product2-desktop@2x.7412c6ac.png);
  }
  .products__list__item:nth-child(3)::before {
    background-image: url(/product3-desktop@2x.2a326a9c.png);
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */