<div class="location" id="about">
    <div class="container">
        <ul class="location__list">
            <li class="location__listItem">
                <div>
                    <p class="location__title-cafe">Cafe</p>
                </div>
                <div class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">Chicago</p>
                            <p class="location__grey-subtitle">
                                Fusce ut velit laoreet, tempus arcu molestie
                                vulputate
                            </p>
                            <div class="location__line"></div>
                        </li>
                    </ul>
                </div>
                <div class="location__listElement">
                    <div>
                        <p class="location__subtitle">Monday - Friday</p>
                        <p class="location__timeline">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="location__subtitle">Saturday - Sunday</p>
                        <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        <div class="location__line"></div>
                    </div>
                    <div class="location__contacts location__grey-subtitle">
                        <p>+61(0) 383 766 284</p>
                        <p>noreply@envato.com</p>
                    </div>
                </div>
            </li>
            <li class="location__listItem">
                <div>
                    <p class="location__title-truck">Food Truck</p>
                </div>
                <div class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">Los Angeles</p>
                            <p class="location__grey-subtitle">
                                Fusce ut velit laoreet, tempus arcu molestie
                                vulputate
                            </p>
                            <div class="location__line"></div>
                        </li>
                    </ul>
                </div>
                <div class="location__listElement">
                    <div>
                        <p class="location__subtitle">Monday - Friday</p>
                        <p class="location__timeline">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="location__subtitle">Saturday - Sunday</p>
                        <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        <div class="location__line"></div>
                    </div>
                    <div class="location__contacts location__grey-subtitle">
                        <p">+61(0) 383 766 284</p>
                        <p">noreply@envato.com</p>
                    </div>
                </div>
            </li>
            <li class="location__listItem">
                <div>
                    <p class="location__title-cafe">Cafe</p>
                </div>
                <div class="location__listElement">
                    <ul>
                        <li>
                            <p class="location__subtitle">New York</p>
                            <p class="location__grey-subtitle">
                                Fusce ut velit laoreet, tempus arcu molestie
                                vulputate
                            </p>
                            <div class="location__line"></div>
                        </li>
                    </ul>
                </div>
                <div class="location__listElement">
                    <div>
                        <p class="location__subtitle">Monday - Friday</p>
                        <p class="location__timeline">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <p class="location__subtitle">Saturday - Sunday</p>
                        <p class="location__timeline">08:00 AM - 16:00 PM</p>
                        <div class="location__line"></div>
                    </div>
                    <div class="location__contacts location__grey-subtitle">
                        <p">+61(0) 383 766 284</p>
                        <p">noreply@envato.com</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="buttons">
            <button type="button" class="location__buttons button-location"><span
                    class="buttons__description">Our Locations</span><svg
                    class="button_svg"
                    width="7"
                    height="10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.403 1l4.28 4-4.28 4"
                        stroke="#fff"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        /></svg></button>
                <button type="button" class="location__buttons
                    button-franchise"><span
                        class="buttons__description">Franchise</span><svg
                        class="button_svg"
                        width="7"
                        height="10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1.403
                            1l4.28
                            4-4.28 4"
                            stroke="red"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            /></svg></button>
                </div>
            </div>
        </div>
