.location {
  /* border: 1px solid red;*/
  background: linear-gradient(to bottom, #fff 84px, #fff5f6 84px, #fff5f6 80%);

  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $black;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    font-size: 12px;

    background: linear-gradient(
      to bottom,
      #fff 102px,
      #fff5f6 102px,
      #fff5f6 80%
    );
  }
  @media screen and (max-width: 1199px) {
    font-size: 14px;

    background: linear-gradient(
      to bottom,
      #fff 78px,
      #fff5f6 78px,
      #fff5f6 80%
    );
  }
  &__line {
    border: 1px solid #e1e1e1;
    display: block;
    margin-top: 32px;
    width: 234px;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      width: 179px;
    }
    @media screen and (max-width: 1199px) {
      margin-top: 30px;
      width: 157px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and(min-width: 320px) and (max-width: 767px) {
      display: block;
      padding: 0;
      margin: 0 auto;
    }
  }
  &__listItem {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: $white;
    width: 220px;

    @media screen and (max-width: 767px) {
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 21px;
      padding-bottom: 43px;
      padding-top: 43px;
    }
    @media screen and (max-width: 1199px) {
      padding-left: 31px;
      padding-right: 32px;
      padding-bottom: 50px;
      padding-top: 50px;
    }
    @media screen and(min-width: 1200px) {
      width: 330px;
      padding-left: 43px;
      padding-right: 44px;
      padding-bottom: 62px;
      padding-top: 62px;
    }
    &:not(:last-child) {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0px;
        margin-right: 20px;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      @media screen and(min-width: 1200px) {
        margin-bottom: 0px;
        margin-right: 29px;
      }
    }
  }
  &__title {
    &-cafe {
      @extend %title;
      background-color: #f0d1a5;
    }
    &-truck {
      @extend %title;
      background-color: #c2e297;
    }
  }
  &__listElement:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    @media screen and(min-width: 1200px) {
      margin-bottom: 32px;
    }
  }
  &__contacts {
    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
    @media screen and (max-width: 1199px) {
      margin-top: 30px;
    }
    @media screen and(min-width: 1200px) {
      margin-top: 32px;
    }
  }
  &__grey-subtitle {
    line-height: 183%;
    letter-spacing: 0.02em;
    color: $grey;
  }
  &__timeline {
    color: $pink-subtitle;
  }
}
%title {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 5px 15px;

  @media screen and (max-width: 767px) {
    padding: 0px 15px;
  }
}

/* Кнопки */

.buttons {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-top: 54px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 81px;
  }
  @media screen and(min-width: 1200px) {
    margin-top: 86px;
  }
}

%button {
  min-width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  display: inline-block;

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
    width: 161px;
  }
}
.button-location {
  @extend %button;

  background-color: $main;
  color: $white;

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  @media screen and(min-width: 768px) {
    margin-right: 10px;
  }
}
.button-franchise {
  @extend %button;
  background-color: $white;

  &:hover {
    background: #ecebeb;
  }
}
.button_svg {
  margin-left: 13px;
}
